@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "BebasBook";
  src: url("./fonts/BebasNeue.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.ttf");
}

.wrapper {
  top: 100px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
  font-family: "Roboto";
}
.h-light {
  font-weight: 300 !important;
}

.h-page-header:after {
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  border-bottom: 1px solid #e3e3e3;
  margin: 15px 0 15px;
}

.breadcrumb {
  background-color: #f0f0f0;
}
